<!-- views/account/accountManagement.ejs -->
<%- include('../partials/head') %>
<div>
    <div>

    </div>
    
    <%- include('../partials/navigation') %>
    <%- include('../partials/header') %>
    <h1>Account Management</h1>

    <p>You're logged in.</p>

    <%- include('../partials/footer') %>
</div>
