<!-- login.ejs -->
<%- include('../partials/head') %>
<div>
    <%- include('../partials/navigation') %>
    <%- include('../partials/header') %>

    <form action="/account/login" method="POST">
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
        <p>No tienes cuenta? <a href="/account/register">Regístrate aquí</a></p>
    </form>

    <%- include('../partials/footer') %>
</div>
