<h1><%= title %></h1>
<p><%- message %></p>
<p>Oops! Looks like something went wrong. But don't worry, it's not the end of the world... yet.</p>
<p>Would you like to try again, or would you prefer to explore other corners of our application?</p>